<!--@@master = components/master.tmpl.html -->

<!--@@block = content-->
<div class="home">
    <!--Home sleider-->
    <div class="home-homeSlider">
        <div class="home-homeSlider-container">
            <img src="img/slid-HS-1.jpg" class="home-homeSlider-container-pic">
            <img src="img/slid-HS-2.jpg" class="home-homeSlider-container-pic">
            <img src="img/slid-HS-3.jpg" class="home-homeSlider-container-pic">
            <img src="img/slid-HS-1.jpg" class="home-homeSlider-container-pic">
            <img src="img/slid-HS-2.jpg" class="home-homeSlider-container-pic">
            <img src="img/slid-HS-3.jpg" class="home-homeSlider-container-pic">
        </div>
    </div>
    <!--middle section. describe projects-->
    <div class="middleSect">
        <div class="middleSect-content">
            <div class="container-fluid middleSect-content-container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12 middleSect-content-container-col">
                        <div class="middleSect-content-container-col-icon">
                            <img src="img/icon-pen.png" class="middleSect-content-container-col-logo">
                        </div>
                        <h4 class="middleSect-content-container-col-title">
                            Clean Theme
                        </h4>
                        <p class="middleSect-content-container-col-desc">
                            Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie. Duis porta gravida augue sed viverra. Quisque at nulla leo, non aliquet mi.
                        </p>
                        <a href="#" class="middleSect-content-container-col-readMore"><span>></span> Read More</a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 middleSect-content-container-col">
                        <div class="middleSect-content-container-col-icon">
                            <img src="img/icon-fullScreen.png" class="middleSect-content-container-col-logo">
                        </div>
                        <h4 class="middleSect-content-container-col-title">
                            Responsive Design
                        </h4>
                        <p class="middleSect-content-container-col-desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod et tincidunt. Sed sollicitudin posuere auctor. Phasellus at ultricies nisl. Integer at leo eros.
                        </p>
                        <a href="#" class="middleSect-content-container-col-readMore"><span>></span> Read More</a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 middleSect-content-container-col">
                        <div class="middleSect-content-container-col-icon">
                            <img src="img/icon-viewList.png" class="middleSect-content-container-col-logo">
                        </div>
                        <h4 class="middleSect-content-container-col-title">
                            Fully layerd PSD
                        </h4>
                        <p class="middleSect-content-container-col-desc">
                            Phasellus lobortis metus non augue sodales volutpat. Vestibulum sit amet nibh eros, hendrerit venenatis est. In vitae nulla nec purus cursus pretium sed id magna.
                        </p>
                        <a href="#" class="middleSect-content-container-col-readMore"><span>></span> Read More</a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 middleSect-content-container-col">
                        <div class="middleSect-content-container-col-icon">
                            <img src="img/icon-plane.png" class="middleSect-content-container-col-logo">
                        </div>
                        <h4 class="middleSect-content-container-col-title">
                            Ready for coding
                        </h4>
                        <p class="middleSect-content-container-col-desc">
                            Vivamus convallis feugiat mauris sed posuere. Nam rutrum, quam quis euismod commodo, elit est porta quam, non placerat eros neque porta ante. Fusce quis odio urna.
                        </p>
                        <a href="#" class="middleSect-content-container-col-readMore"><span>></span> Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Slider Section-->
    <div class="home-content">
        <div class="home-content-latestWorks">
            <h2 class="home-content-latestWorks-title">
                <img src="img/iconBlue-shape.png">
                Latest works
                <span class="glyphicon glyphicon-circle-arrow-right pushRight"></span>
                <span class="glyphicon glyphicon-circle-arrow-left pushLeft"></span>
            </h2>
            <div class="home-content-latestWorks-slider">
                <div class="home-content-latestWorks-slider-slide">
                    <img src="img/sliderWorks-1.jpg" alt="" class="home-content-latestWorks-slider-slide-pic">
                    <div class="home-content-latestWorks-slider-slide-hoverBlock">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="glyphicon glyphicon-link"></span>
                    </div>
                </div>
                <div class="home-content-latestWorks-slider-slide">
                    <img src="img/sliderWorks-2.jpg" alt="" class="home-content-latestWorks-slider-slide-pic">
                    <div class="home-content-latestWorks-slider-slide-hoverBlock">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="glyphicon glyphicon-link"></span>
                    </div>
                </div>
                <div class="home-content-latestWorks-slider-slide">
                    <img src="img/sliderWorks-3.jpg" alt="" class="home-content-latestWorks-slider-slide-pic">
                    <div class="home-content-latestWorks-slider-slide-hoverBlock">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="glyphicon glyphicon-link"></span>
                    </div>
                </div>
                <div class="home-content-latestWorks-slider-slide">
                    <img src="img/sliderWorks-4.jpg" alt="" class="home-content-latestWorks-slider-slide-pic">
                    <div class="home-content-latestWorks-slider-slide-hoverBlock">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="glyphicon glyphicon-link"></span>
                    </div>
                </div>
                <div class="home-content-latestWorks-slider-slide">
                    <img src="img/sliderWorks-2.jpg" alt="" class="home-content-latestWorks-slider-slide-pic">
                    <div class="home-content-latestWorks-slider-slide-hoverBlock">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="glyphicon glyphicon-link"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Testimonials-->
    <div class="home-client">
        <div class="home-client-container container-fluid">
            <div class="row">
                <div class="home-client-container-col col-sm-6 col-xs-12">
                    <h4 class="home-client-container-col-title">
                        <img src="img/iconBlue-comments.png" class="home-client-container-col-title-logo">
                        Testimonials
                    </h4>
                    <p class="home-client-container-col-testi">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut nulla sapien, at aliquam erat. Sed vitae massa tellus. Aliquam commodo aliquam metus, sed iaculis nibh tempus id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam nec nisi in nisl euismod fringilla.
                    </p>
                    <span class="home-client-container-col-author">John Travis, CEO, DomainName.com</span>
                </div>
                <div class="home-client-container-col col-sm-6 col-xs-12">
                    <h4 class="home-client-container-col-title">
                        <img src="img/iconBlue-clients.png" class="home-client-container-col-title-logo">
                        Our Clients
                    </h4>
                    <div class="helpClients">
                        <div class="home-client-container-col-clients">
                            <img src="img/logo1.png" alt="COX" class="home-client-container-col-clients-pic">
                            <img src="img/logo2.png" alt="CNN" class="home-client-container-col-clients-pic">
                            <img src="img/logo3.png" alt="Apartment Finder" class="home-client-container-col-clients-pic">
                            <img src="img/logo4.png" alt="John Deere" class="home-client-container-col-clients-pic">
                            <img src="img/logo5.png" alt="Banana Boat" class="home-client-container-col-clients-pic">
                            <img src="img/logo6.png" alt="Fujifilm" class="home-client-container-col-clients-pic">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--Download-->
    <div class="home-download">
        <div class="home-download-container">
            <div class="row">
                <div class="home-download-container-col col-sm-8 col-xs-12">
                    <p class="home-download-container-col-desc">
                        This is a clean and modern, four column website PSD template. You can code it into a Wordpress website, HTML5 responsive website for your personal or client works. So ahead and download this wonderful PSD template!
                    </p>
                </div>
                <div class="home-download-container-col col-sm-4 col-xs-12 dowSecondCol">
                    <a href="#" class="home-download-container-col-link">
                        <img src="img/icon-download.png" class="home-download-container-col-link-icon">
                        <span>Download PSD</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--@@close-->