<!--@@master = components/master.tmpl.html -->

<!--@@block = content-->
<div class="portfolio">
    <div class="portfolio-container container-fluid">
        <div class="portfolio-container-header row">
            <div class="col-xs-12">
                <h4 class="portfolio-container-header-title">
                    <img src="img/iconBlue-portfolio.png" class="portfolio-container-header-title-icon">
                    Portfolio
                </h4>
            </div>
        </div>
        <div class="portfolio-container-filter row">
            <div class="col-xs-12">
                <ul class="portfolio-container-filter-list">
                    <li class="portfolio-container-filter-list-item">All</li>
                    <li class="portfolio-container-filter-list-item">Websites</li>
                    <li class="portfolio-container-filter-list-item">Wordpress</li>
                    <li class="portfolio-container-filter-list-item">Mobile Apps</li>
                    <li class="portfolio-container-filter-list-item">Icons</li>
                    <li class="portfolio-container-filter-list-item">Logos</li>
                    <li class="portfolio-container-filter-list-item">Graphics</li>
                </ul>
            </div>
        </div>
        <div class="portfolio-container-projects row">
            <div class="col-xs-12">
                <ul class="portfolio-container-projects-list">
                    <li class="portfolio-container-projects-list-item websites">
                        <img src="img/portfolio-1.jpg" class="portfolio-container-projects-list-item-pic">
                        <div class="portfolio-container-projects-list-item-hover">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="glyphicon glyphicon-link"></span>
                        </div>
                    </li>
                    <li class="portfolio-container-projects-list-item wordpress">
                        <img src="img/portfolio-2.jpg" class="portfolio-container-projects-list-item-pic">
                        <div class="portfolio-container-projects-list-item-hover">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="glyphicon glyphicon-link"></span>
                        </div>
                    </li>
                    <li class="portfolio-container-projects-list-item mobApps">
                        <img src="img/portfolio-3.jpg" class="portfolio-container-projects-list-item-pic">
                        <div class="portfolio-container-projects-list-item-hover">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="glyphicon glyphicon-link"></span>
                        </div>
                    </li>
                    <li class="portfolio-container-projects-list-item icons">
                        <img src="img/portfolio-4.jpg" class="portfolio-container-projects-list-item-pic">
                        <div class="portfolio-container-projects-list-item-hover">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="glyphicon glyphicon-link"></span>
                        </div>
                    </li>
                    <li class="portfolio-container-projects-list-item logos">
                        <img src="img/portfolio-5.jpg" class="portfolio-container-projects-list-item-pic">
                        <div class="portfolio-container-projects-list-item-hover">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="glyphicon glyphicon-link"></span>
                        </div>
                    </li>
                    <li class="portfolio-container-projects-list-item graphics">
                        <img src="img/portfolio-6.jpg" class="portfolio-container-projects-list-item-pic">
                        <div class="portfolio-container-projects-list-item-hover">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="glyphicon glyphicon-link"></span>
                        </div>
                    </li>
                    <li class="portfolio-container-projects-list-item websites">
                        <img src="img/portfolio-7.jpg" class="portfolio-container-projects-list-item-pic">
                        <div class="portfolio-container-projects-list-item-hover">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="glyphicon glyphicon-link"></span>
                        </div>
                    </li>
                    <li class="portfolio-container-projects-list-item wordpress">
                        <img src="img/portfolio-8.jpg" class="portfolio-container-projects-list-item-pic">
                        <div class="portfolio-container-projects-list-item-hover">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="glyphicon glyphicon-link"></span>
                        </div>
                    </li>
                    <li class="portfolio-container-projects-list-item mobApps">
                        <img src="img/portfolio-9.jpg" class="portfolio-container-projects-list-item-pic">
                        <div class="portfolio-container-projects-list-item-hover">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="glyphicon glyphicon-link"></span>
                        </div>
                    </li>
                    <li class="portfolio-container-projects-list-item icons">
                        <img src="img/portfolio-10.jpg" class="portfolio-container-projects-list-item-pic">
                        <div class="portfolio-container-projects-list-item-hover">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="glyphicon glyphicon-link"></span>
                        </div>
                    </li>
                    <li class="portfolio-container-projects-list-item graphics">
                        <img src="img/portfolio-11.jpg" class="portfolio-container-projects-list-item-pic">
                        <div class="portfolio-container-projects-list-item-hover">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="glyphicon glyphicon-link"></span>
                        </div>
                    </li>
                    <li class="portfolio-container-projects-list-item graphics">
                        <img src="img/portfolio-12.jpg" class="portfolio-container-projects-list-item-pic">
                        <div class="portfolio-container-projects-list-item-hover">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="glyphicon glyphicon-link"></span>
                        </div>
                    </li>
                    <li class="portfolio-container-projects-list-item websites">
                        <img src="img/portfolio-13.jpg" class="portfolio-container-projects-list-item-pic">
                        <div class="portfolio-container-projects-list-item-hover">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="glyphicon glyphicon-link"></span>
                        </div>
                    </li>
                    <li class="portfolio-container-projects-list-item wordpress">
                        <img src="img/portfolio-14.jpg" class="portfolio-container-projects-list-item-pic">
                        <div class="portfolio-container-projects-list-item-hover">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="glyphicon glyphicon-link"></span>
                        </div>
                    </li>
                    <li class="portfolio-container-projects-list-item icons">
                        <img src="img/portfolio-15.jpg" class="portfolio-container-projects-list-item-pic">
                        <div class="portfolio-container-projects-list-item-hover">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="glyphicon glyphicon-link"></span>
                        </div>
                    </li>
                    <li class="portfolio-container-projects-list-item graphics">
                        <img src="img/portfolio-16.jpg" class="portfolio-container-projects-list-item-pic">
                        <div class="portfolio-container-projects-list-item-hover">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="glyphicon glyphicon-link"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="portfolio-container-pagination row">
            <div class="col-xs-12">
                <ul class="portfolio-container-pagination-listLeftArrows">
                    <li class="portfolio-container-pagination-listLeftArrows-item"> <span><</span> </li>
                    <li class="portfolio-container-pagination-listLeftArrows-item"> <span><<</span> </li>
                </ul>
                <ul class="portfolio-container-pagination-list">
                    <li class="portfolio-container-pagination-list-item"> <span>1</span> </li>
                </ul>
                <ul class="portfolio-container-pagination-listRightArrows">
                    <li class="portfolio-container-pagination-listRightArrows-item"> <span>>></span> </li>
                    <li class="portfolio-container-pagination-listRightArrows-item"> <span>></span> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--@@close-->