<div class="footerBlock">
    <div class="footerBlock-content">
        <div class="footerBlock-content-container container-fluid">
            <div class="row footerBlock-content-container-top">
                <div class="col-sm-3 col-xs-12 footerBlock-content-container-top-col">
                    <h4 class="footerBlock-content-container-top-col-title">
                        About us
                    </h4>
                    <p class="footerBlock-content-container-top-col-desc">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod placerat dui et tincidunt. Sed sollicitudin posuere auctor. Phasellus at ultricies nisl. Integer at leo eros. Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum molestie.
                    </p>
                </div>
                <div class="col-sm-2 col-xs-4 footerBlock-content-container-top-col">
                    <h4 class="footerBlock-content-container-top-col-title">
                        Explore
                    </h4>
                    <ul class="footerBlock-content-container-top-col-list">
                        <li class="footerBlock-content-container-top-col-list-item">
                            <a href="" class="footerBlock-content-container-top-col-list-item-link">
                                Home
                            </a>
                        </li>
                        <li class="footerBlock-content-container-top-col-list-item">
                            <a href="" class="footerBlock-content-container-top-col-list-item-link">
                                About Us
                            </a>
                        </li>
                        <li class="footerBlock-content-container-top-col-list-item">
                            <a href="" class="footerBlock-content-container-top-col-list-item-link">
                                Services
                            </a>
                        </li>
                        <li class="footerBlock-content-container-top-col-list-item">
                            <a href="" class="footerBlock-content-container-top-col-list-item-link">
                                Portfolio
                            </a>
                        </li>
                        <li class="footerBlock-content-container-top-col-list-item">
                            <a href="" class="footerBlock-content-container-top-col-list-item-link">
                                Blog
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2 col-xs-4 footerBlock-content-container-top-col">
                    <h4 class="footerBlock-content-container-top-col-title">
                        Browse
                    </h4>
                    <ul class="footerBlock-content-container-top-col-list">
                        <li class="footerBlock-content-container-top-col-list-item">
                            <a href="" class="footerBlock-content-container-top-col-list-item-link">
                                Careers
                            </a>
                        </li>
                        <li class="footerBlock-content-container-top-col-list-item">
                            <a href="" class="footerBlock-content-container-top-col-list-item-link">
                                Press & Media
                            </a>
                        </li>
                        <li class="footerBlock-content-container-top-col-list-item">
                            <a href="" class="footerBlock-content-container-top-col-list-item-link">
                                Contact Us
                            </a>
                        </li>
                        <li class="footerBlock-content-container-top-col-list-item">
                            <a href="" class="footerBlock-content-container-top-col-list-item-link">
                                Terms of Service
                            </a>
                        </li>
                        <li class="footerBlock-content-container-top-col-list-item">
                            <a href="" class="footerBlock-content-container-top-col-list-item-link">
                                Privacy Policy
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-2 col-xs-4 footerBlock-content-container-top-col">
                    <h4 class="footerBlock-content-container-top-col-title">
                        contact us
                    </h4>
                    <p class="footerBlock-content-container-top-col-desc">
                        <strong>BisLite Inc</strong>
                        <span>Always Street 265</span>
                        <span>0X - 125 - Canada</span>
                        <br>
                        <span>Phone:987-6543-210</span>
                        <span>Fax:987-6543-210</span>
                    </p>
                </div>
                <div class="col-sm-3 col-xs-12 footerBlock-content-container-top-col">
                    <h4 class="footerBlock-content-container-top-col-title lastTitleFooter">
                        connect with us
                    </h4>
                    <div class="footerBlock-content-container-top-col-cont">
                        <a href="#" class="footerBlock-content-container-top-col-cont-socialNet">
                            <img src="img/logo-facebook.png" alt="facebook" class="footerBlock-content-container-top-col-cont-socialNet-pic">
                        </a>
                        <a href="#" class="footerBlock-content-container-top-col-cont-socialNet">
                            <img src="img/logo-dribbble.png" alt="dribbble" class="footerBlock-content-container-top-col-cont-socialNet-pic">
                        </a>
                        <a href="#" class="footerBlock-content-container-top-col-cont-socialNet">
                            <img src="img/logo-pinterest.png" alt="pinterest" class="footerBlock-content-container-top-col-cont-socialNet-pic">
                        </a>
                        <a href="#" class="footerBlock-content-container-top-col-cont-socialNet">
                            <img src="img/logo-linkedin.png" alt="linkedin" class="footerBlock-content-container-top-col-cont-socialNet-pic">
                        </a>
                        <a href="#" class="footerBlock-content-container-top-col-cont-socialNet">
                            <img src="img/logo-skype.png" alt="skype" class="footerBlock-content-container-top-col-cont-socialNet-pic">
                        </a>
                        <a href="#" class="footerBlock-content-container-top-col-cont-socialNet">
                            <img src="img/logo-share.png" alt="share" class="footerBlock-content-container-top-col-cont-socialNet-pic">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row footerBlock-content-container-bottom">
                <div class="col-sm-9 col-xs-12 footerBlock-content-container-bottom-col">
                    <p class="footerBlock-content-container-bottom-col-copyright">
                        © Copyright 2012 - BisLite Inc. All rights reserved. Some free icons used here are created by Brankic1979.com.
                        <br>
                        Client Logos are copyright and trademark of the respective owners / companies.
                    </p>
                </div>
                <div class="col-sm-3 col-xs-12 footerBlock-content-container-bottom-col">
                    <div class="footerBlock-content-container-bottom-col-logo">
                        <img src="img/logoBL.png" alt="Bis Lite" class="footerBlock-content-container-bottom-col-logo-pic">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>