<div class="headerBlock">
    <div class="headerBlock-content">
        <div class="headerBlock-content-container container-fluid">
            <div class="row">
                <div class="col-ld-4 col-sm-3 col-xs-4 headerBlock-content-container-logo">
                    <img src="img/logoBL.png" alt="Bis Lite" class="headerBlock-content-container-logo-pic">
                </div>
                <div class="col-ld-8 col-sm-9 col-xs-8 headerBlock-content-container-menu">
                    <span class="glyphicon glyphicon-th-list toggleButton"></span>
                    <ul class="headerBlock-content-container-menu-list toggleMenu">
                        <li class="headerBlock-content-container-menu-list-item">
                            <a href="index.html" class="headerBlock-content-container-menu-list-item-link">Home</a>
                        </li>
                        <li class="headerBlock-content-container-menu-list-item">
                            <a href="#" class="headerBlock-content-container-menu-list-item-link notReadyMenu">About Us</a>
                        </li>
                        <li class="headerBlock-content-container-menu-list-item itemAlign">
                            <a href="#" class="headerBlock-content-container-menu-list-item-link notReadyMenu">Services</a>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                            <ul class="subMenu">
                                <li class="subMenu-item">
                                    <a href="#" class="subMenu-item-link">
                                        Web Design
                                    </a>
                                </li>
                                <li class="subMenu-item">
                                    <a href="#" class="subMenu-item-link">
                                        Wordpress Design
                                    </a>
                                </li>
                                <li class="subMenu-item">
                                    <a href="#" class="subMenu-item-link">
                                        Mobile App Devplopment
                                    </a>
                                </li>
                                <li class="subMenu-item">
                                    <a href="#" class="subMenu-item-link">
                                        Internet Marketing
                                    </a>
                                </li>
                                <li class="subMenu-item">
                                    <a href="#" class="subMenu-item-link">
                                        Social Media Management
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="headerBlock-content-container-menu-list-item itemAlign">
                            <a href="portfolio.html" class="headerBlock-content-container-menu-list-item-link">Portfolio</a>
                            <span class="glyphicon glyphicon-chevron-down"></span>
                            <ul class="subMenu">
                                <li class="subMenu-item">
                                    <a href="portfolio.html" class="subMenu-item-link">
                                        Web Design
                                    </a>
                                </li>
                                <li class="subMenu-item">
                                    <a href="portfolio.html" class="subMenu-item-link">
                                        Wordpress Design
                                    </a>
                                </li>
                                <li class="subMenu-item">
                                    <a href="portfolio.html" class="subMenu-item-link">
                                        Mobile App Devplopment
                                    </a>
                                </li>
                                <li class="subMenu-item">
                                    <a href="portfolio.html" class="subMenu-item-link">
                                        Internet Marketing
                                    </a>
                                </li>
                                <li class="subMenu-item">
                                    <a href="portfolio.html" class="subMenu-item-link">
                                        Social Media Management
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="headerBlock-content-container-menu-list-item">
                            <a href="#" class="headerBlock-content-container-menu-list-item-link notReadyMenu">Blog</a>
                        </li>
                        <li class="headerBlock-content-container-menu-list-item">
                            <a href="contacts.html" class="headerBlock-content-container-menu-list-item-link notReadyMenu">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>