<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bis Lite</title>

    <link rel="stylesheet" href="css/vendor.min.css">
    <link rel="stylesheet" href="css/app.min.css">
</head>
<body>
    <div class="wrapperPage">
        <div class="wrapperPage-helpWrapp">
            <div class="headerPage">
                <!--@@include = header.tmpl.html-->
            </div>
            <main class="contentPage">
                <!--@@placeholder = content-->
            </main>
        </div>
    </div>
    <footer class="footerPage">
        <!--@@include = footer.tmpl.html-->
    </footer>
    <script src="js/vendor.min.js"></script>
    <script src="js/app.min.js"></script>
</body>
</html>